<footer>
    <h3 class="visually-hidden">Algemene informatie</h3>
    <div></div>
    <a href="https://github.com/xiaonanpols21?tab=repositories" aria-label="Xiao's Github pagina"><i class="fa-brands fa-github"></i></a>
    <p>All rights reserved</p>
</footer>