<header class="header-home">
    <nav>
        <a href="/"><img id="logo" src="img/logo.svg" alt="Xiao Logo" /></a>
        
        <!-- Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->
        <label class="switch" aria-label="Dark mode schakelaar">
            <input type="checkbox" id="toggle">
            <span>
                <i class="fa-regular fa-sun"></i>
            </span>
        </label>
    </nav>
</header>