<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body-index">
    <header class="header-home">
        <nav>
            <a href="/"><img src="img/logo.svg" alt="Xiao Logo" /></a>
            
            <!-- Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->
            <label class="switch" aria-label="Dark mode schakelaar">
                <input type="checkbox">
                <span>
                    <i class="fa-regular fa-sun"></i>
                </span>
            </label>
        </nav>
    </header>

    <nav class="nav-page">
        <a href="#sec-1" aria-label="Vorige sectie knop"><i class="fa-solid fa-angle-up"></i></a>
        <section>
            <h3 class="visually-hidden">Pagina nummer</h3>
            <p>1</p>
            <div><p>/</p></div>
            <p>2</p>
        </section>
        <a href="#sec-2" aria-label="Volgende sectie knop"><i class="fa-solid fa-angle-down"></i></a>
    </nav>

    <!-- Hero -->
    <section id="sec-1" class="sec sec-1">
        <h4 class="visually-hidden">Hero sectie</h4>
        <div>
            <h1>Weekly nerd</h1>
            <p>Lorem ipsum dolor sit amet</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque fuga maiores repellendus praesentium! Consequatur ipsam cum odit magni tenetur! Minus hic repellat possimus culpa explicabo neque ducimus necessitatibus architecto soluta.</p>
        </div>
        <section class="carousel-hero">
            <h4 class="visually-hidden">Xiao's top 3 gasten</h4>
            <a href="/">
                <article>
                    <h3>Kilian Valkhof</h3>
                    <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                </article>
            </a>
            <a href="/">
                <article>
                    <h3>Kilian Valkhof</h3>
                    <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                </article>
            </a>
            <a href="/">
                <article>
                    <h3>Kilian Valkhof</h3>
                    <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                </article>
            </a>
        </section>
    </section>

    <!-- Blogs -->
    <main id="sec-2" class="sec sec-2">
        <div>
            <h2>Blogs</h2>
            <button aria-label="Filter knop"><i class="fa-solid fa-filter"></i></button>
            <main class="carousel-blog">
                <h4 class="visually-hidden">Alle blogs carousel</h4>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
            </section>
        </div>
    </section>

    <footer>
        <h3 class="visually-hidden">Algemene informatie</h3>
        <div></div>
        <a href="https://github.com/xiaonanpols21?tab=repositories" aria-label="Xiao's Github pagina"><i class="fa-brands fa-github"></i></a>
        <p>All rights reserved</p>
    </footer>

    <script src="js/index.js"></script>

    <%- include('../partials/script-fontawesome'); %>
</body>
</html>