<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <section class="sec sec-1">
    <h3 class="visually-hidden">Hero sectie</h3>
    <header>
      <nav>
        <img src="img/logo.svg" alt="Xiao Logo" />

        <!-- Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
        
      </nav>
    </header>
  </section>
  <%- include('../partials/script-fontawesome'); %>
</body>
</html>