<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body-single">
    <header class="header-home">
        <nav>
            <a href="/"><img src="img/logo.svg" alt="Xiao Logo" /></a>
            
            <!-- Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->
            <label class="switch" aria-label="Dark mode schakelaar">
                <input type="checkbox">
                <span>
                    <i class="fa-regular fa-sun"></i>
                </span>
            </label>
        </nav>
    </header>

    <main class="sec main-single">
        <header>
            <nav>
                <a href="/" aria-label="Pijl terug naar home knop"><i class="fa-solid fa-angle-left"></i></a>
            </nav>
            <img src="/img/thumbnail.jpeg" alt="CMD Media Lounge">
        </header>

        <div>
            <h1>Stop using JS for that</h1>
            <section class="authur">
                <h2>Kilian Valkhof</h2>
                <p>07-02-2024</p>
                <img src="/img/thumbnail.jpeg" alt="CMD Media Lounge">
            </section>
    
            <h3>Wat is er verteld?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
            
            <h3>Wat vind ik er van?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
            
            <h3>Wat ga ik er mee doen?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
            
            <h3>Notes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
        </div>
    </main>

    <section class="related-blogs">
        <h4>Gerelateerde blogs</h4>
        <section class="carousel-blog">
            <h4 class="visually-hidden">Alle blogs carousel</h4>
            <a href="/">
                <article>
                    <h3>Stop using JS for that</h3>
                    <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                    <div><i class="fa-solid fa-angle-right"></i></div>
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/">
                <article>
                    <h3>Stop using JS for that</h3>
                    <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                    <div><i class="fa-solid fa-angle-right"></i></div>
                    <div class="overlay"></div>
                </article>
            </a>
            <a href="/">
                <article>
                    <h3>Stop using JS for that</h3>
                    <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                    <div><i class="fa-solid fa-angle-right"></i></div>
                    <div class="overlay"></div>
                </article>
            </a>
        </section> 
        <a href="/home#sec-2">Zie alle blogs</a>
    </section>

    <footer>
        <h3 class="visually-hidden">Algemene informatie</h3>
        <div></div>
        <a href="https://github.com/xiaonanpols21?tab=repositories" aria-label="Xiao's Github pagina"><i class="fa-brands fa-github"></i></a>
        <p>All rights reserved</p>
    </footer>

    <%- include('../partials/script-fontawesome'); %>
</body>
</html>