<!DOCTYPE html>
<html lang="nl">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body-single">
    <div class="div-single">

        <!-- Header -->
        <%- include('../partials/header-home'); %>

        <main class="sec main-single">
            <header>
                <nav>
                    <a href="/" aria-label="Pijl terug naar home knop"><i class="fa-solid fa-angle-left"></i></a>
                </nav>
                <img src="/img/thumbnail.jpeg" alt="CMD Media Lounge">
            </header>

            <div>
                <h1>Stop using JS for that</h1>
                <section class="authur">
                    <h2>Kilian Valkhof</h2>
                    <p>07-02-2024</p>
                    <img src="/img/thumbnail.jpeg" alt="CMD Media Lounge">
                </section>
        
                <h3>Wat is er verteld?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
                
                <h3>Wat vind ik er van?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
                
                <h3>Wat ga ik er mee doen?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
                
                <h3>Notes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt aperiam harum ea natus? Quasi neque, perspiciatis vero illum corporis aspernatur, reiciendis pariatur sint nihil commodi ad quidem aliquam nam.</p>
            </div>
        </main>

        <section class="related-blogs">
            <h4>Gerelateerde blogs</h4>
            <section class="carousel-blog">
                <h4 class="visually-hidden">Alle blogs carousel</h4>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
                <a href="/">
                    <article>
                        <h3>Stop using JS for that</h3>
                        <img src="img/thumbnail.jpeg" alt="CMD Media lounge">
                        <div><i class="fa-solid fa-angle-right"></i></div>
                        <div class="overlay"></div>
                    </article>
                </a>
            </section> 
            <a href="/home#sec-2"><p>Zie alle blogs</p></a>
        </section>

        <!-- Footer -->
        <%- include('../partials/footer'); %>
        
    </div>
    <script src="js/single.js"></script>
    <%- include('../partials/script-fontawesome'); %>
</body>
</html>