// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    // Sec-1
    .sec-1 {
        div {
            @include container500;
        }
    }

    // Sec-2
    // Carousel
    .carousel-blog {
        @include gridClmn(1fr 1fr 1fr, 20px);
        grid-auto-rows: 150px;

        article {
            &:nth-of-type(2n) {
                grid-row-end: span 2;
            }
            
            &:nth-of-type(3n) {
                grid-row-end: span 2;
            }

            &:nth-of-type(4n) {
                grid-row-end: span 1;
            }

            &:nth-of-type(5n) {
                grid-column-end: 4;
            }
        }
    }

    // Single
    .main-single div {
        @include container500;
    }
}

@media (min-width: 768px) { 
    .related-blogs {
        .carousel-blog {
            @include gridClmn(1fr 1fr 1fr, 20px);
            grid-auto-rows: auto;
        }

        > a {
            margin-top: -40px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    p {
        @include f18;
    }

    .sec {
        padding: 50px;
        width: 100%;
        height: 100vh;
        
    }

    // Bron: https://css-tricks.com/pure-css-horizontal-scrolling/
    .body-index {
        display: flex;
        flex-direction: row;
        width: 195%;
        height: 100vh;
        overflow-y: hidden;
    }

    .nav-page {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;

        a {
            padding: 20px 25px;
            
            &:first-of-type {
                transform: rotate(-90deg);
            }

            &:last-of-type {
                transform: rotate(-90deg);
            }
        }
    }

    // Sec-1
    .sec-1 {
        @include gridClmn(1fr 1fr, 0px 50px);
        
        div {
            grid-column-start: 1;
            max-width: 500px;
        }

        h1 {
            @include f67;
            margin-top: 0px;
        }

        p {
            &:first-of-type {
                @include f18;
            }
            &:last-of-type {
                @include f20;
                margin-bottom: 0px;
            }
        }
    }

    // Carousel-hero
    .carousel-hero {
        margin: auto 0px;
        padding: 0px;
        width: 100%;
        gap: 20px;
        overflow-x: visible;

        a {
            height: 640px;
            flex-shrink: inherit;
        }
    }

    // Sec-2
    .sec-2 {
        h2 {
            margin-top: 50px;
        }

        > div {
            @include container1000;
        }

        div {
            > button {
                top: -40px;
                margin-top: 0px;
                margin-bottom: -20px;
            }
        }
    }

    .carousel-blog {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 500px;
        overflow-y: auto;

        a {
            &:nth-of-type(2n) {
                grid-row-end: span 1;
            }

            &:nth-of-type(3n) {
                grid-row-end: span 2;
            }

            &:nth-of-type(5n) {
                grid-column-end: 3;
            }

            h3 {
                @include f16;
            }
        }
    }

    // Footer
    footer {
        position: fixed;
        left: -20px;
        top: 0;
        bottom: 0;
        width: min-content;
        margin: 0px;
        height: 100vh;
        padding-bottom: 30px;
        justify-content: space-between;
        background-color: transparent;

        a {
            order: 1;
            margin: 0px;
            width: 100%;
        }

        p {
            width: max-content;
            transform: rotate(-90deg);
        }
    }

    // Single 
    .body-single {
        > div > div {
            @include container1000;
        }

        .sec {
            height: 100%;
            padding: 50px 0px;
        }

        footer {
            margin: 0px;
            padding: 0px 0px 20px 0px;
        }
    }

    .main-single {
        div {
            max-width: 700px;

            p {
                @include f18;
            }

            > p:first-of-type {
                @include f16;
            }
        }

        header {
            height: 300px;
            margin-top: -50px;

            nav {
                display: none;
            }
        }

        h1 {
            @include f50;
        }

        h2 {
            @include f26;
            margin-top: 10px;
        }

        h3 {
            @include f20;
        }

        ul {
            @include f18;
        }
    }

    .authur {
        grid-template-columns: 80px 1fr;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .related-blogs {
        padding-bottom: 50px;
        
        h4 {
            @include f26;
        }

        > a {
            margin-top: -20px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}