// Bron: https://css-tricks.com/dark-modes-with-css/
.dark-mode {
    p {
        color: $lila;
    }

    .nav-page {
        p {
            color: $dark-purple;
        }
    }

    // Sec-1
    .header-home {
        a {
            &:focus {
                border: 3px solid $pink;
            }
        }
    }
    .sec-1 {
        background: linear-gradient(208deg, rgba(53,23,77,1) 0%, rgba(255,72,120,1) 100%); // Bron: https://cssgradient.io/

        h1 {
            --color-one: hsl(330, 71%, 64%);
            --color-two: hsl(245, 6%, 97%);
        }
    }

    // Sec-2
    .sec-2 {
        background-color: $dark-purple;

        h2 {
            color: $lila;
        }
    }

    // Footer
    footer {
        background-color: $dark-purple;

        a {
            color: $white;

            &:hover {
                color: $purple;
            }
        }
    }

    // Single
    .div-single {
        background-color: $dark-purple;
    }

    .main-single {
        h1, h2, h3 {
            color: $lila;
        }

        ul {
            color: $white;
        }

        a {
            color: $pink;
        }
    }

    .related-blogs {
        h4 {
            color: $lila;
        }
    }

    // Breakpoint
    @media (min-width: 992px) {
        footer {
            background-color: transparent;
        }
    }
}