footer {
    @include flex(column, 20px);
    padding-bottom: 30px;
    background-color: $lila;
    text-align: center;

    p {
        @include f14;
    }

    a {
        display: block;
        width: fit-content;
        margin: auto;
        color: $dark-purple;
        transition: .4s;

        &:hover {
            color: $pink;
        }

        &:focus {
            outline: none;
            padding: 10px;
            background-color: $purple;
            border-radius: 10px;
            color: $white;
        }
    }

    i {
        font-size: 30px;
    }
}