.sec-2 {
    padding: 70px 20px 50px 20px;
    background-color: $lila;

    h2 {
        @include f42;
    }

    div {
        > button {
            position: relative;
            display: flex;
            padding: 12px;
            margin: 20px 0px 20px auto;
            border-radius: 10px;
            border: none;
            background: linear-gradient(41deg, $purple 0%, $lila 100%);
            color: $white;
            cursor: pointer;

            // Bron: https://keithjgrant.com/posts/2017/07/transitioning-gradients/
            &::before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 10px;
                background: linear-gradient(41deg, $lila 0%, $purple 100%);
                transition: .4s;
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
            }

            &:focus {
                outline: none;
                background: $purple;
            }

            i {
                font-size: 15px;
                z-index: 1;
            }
        }
    }
}

.carousel-blog {
    @include gridClmn(1fr 1fr, 10px);
    grid-auto-rows: 150px 125px auto auto 150px;

    article {
        width: 100%;
        height: 100%;
    }

    a {
        position: relative;
        display: block;
        transition: .4s;

        &:nth-of-type(2n) {
            grid-row-end: span 2;
        }

        &:nth-of-type(3n) {
            grid-row-end: span 3;
        }

        &:nth-of-type(5n) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-end: span 1;
        }

        &:hover {
            h3 {
                @include f18;
            }

            div:first-of-type:before {
                opacity: 1;
            }
        }

        &:focus {
            outline: none;
            padding: 10px;
            background-color: $purple;
            border-radius: 10px;

            h3 {
                left: 20px;
                bottom: 20px;
            }

            div:first-of-type {
                top: 20px;
                right: 20px;
            }
        }
    }

    img {
        @include img100;
        border-radius: 10px;
        box-shadow: $simple-shadow;
    }

    h3 {
        @include f14;
        position: absolute;
        bottom: 10px;
        left: 15px;
        right: 15px;
        color: $white;
        z-index: 1;
        transition: .4s;
    }

    div:first-of-type {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: linear-gradient(41deg, $pink 0%, $lila 100%);
        border-radius: 5px;
        box-shadow: $simple-shadow;
        border: none;
        font-size: 10px;
        color: $white;
        z-index: 1;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 5px;
            background: linear-gradient(41deg, $lila 0%, $pink 100%);
            transition: .4s;
            opacity: 0;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .overlay {
        border-radius: 10px;
    }
}

// Form
.dialog {
    padding: 40px 20px;
    margin: auto;
    max-width: 400px;
    border: none;
    border-radius: 20px;
    box-shadow: $simple-shadow;
}

form {
    @include flex(column, 30px);

    fieldset {
        border: none;

        &:first-of-type {
            // Checkbox button
            // Zie prompts: https://chemical-bunny-323.notion.site/Weekly-Nerd-Chat-GPT-Documentation-6764544211dc42158c23d85eec350fc4#a4670340e7904fa88423c81e9bc1ba48
            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]:checked + label {
                background-color: $purple;
                color: #fff;
            }

            label {
                display: inline-block;
                padding: 10px 20px;
                margin: 5px;
                background-color: $pink;
                border-radius: 10px;
                color: $white;
                cursor: pointer;

                // FIXME:
                // :hover {
                //     background-color: $lila;
                // }
            }
        }

        &:last-of-type {
            @include flex(column, 20px);

            label {
                @include f26;
                font-weight: bold;
            }
        }
    }

    legend {
        @include f26;
        font-weight: bold;
        margin-bottom: calc(20px - 5px);
    }

    select {
        @include f16;
        position: relative;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: $lila;
        background: url("../img/arrow.svg") no-repeat 95% center;
        background-size: 10px 10px;
        font-family: $font-stack;
        appearance:none;
        -moz-appearance:none; 
        -webkit-appearance:none; 

        &:focus {
            outline: none;
            border: 3px solid $purple;
        }
    }

    button {
        @include btn;
        position: relative;
    }
}
