.body-single {
    footer {
        padding: 50px;
        margin: 0px;
        background-color: transparent;
    }
}

.main-single {
    div {
        @include flex(column, 20px);

        > p:first-of-type {
            @include f14;
            margin: -20px 0px 20px 0px;
            font-style: italic;
        }
    }

    header {
        position: relative;
        margin: -20px;
        height: 400px;

        img {
            @include img100;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0px 0px 50px 50px;
        }
    }

    button {
        position: absolute;
        top: calc(80px);
        left: 20px;
        width: 30px;
        height: 30px;
        background-color: rgba($dark-purple, 0.5);
        border-radius: 50%;
        box-shadow: 0px 3px 6px rgba($white, 0.16);
        font-size: 10px;
        color: $white;
        z-index: 1;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    h1 {
        @include f42;
        margin-top: calc(50px + 20px);
    }

    h2 {
        @include f24;
    }

    h3 {
        @include f18;
    }

    ul {
        @include f16;
        margin-left: 20px;
    }

    strong {
        display: block;
    }

    h2, h3, strong {
        margin-bottom: calc(-20px);
    }
}

.authur {
    h3 {
        @include f16;
        margin: 0px
    }

    p {
        @include f14;
    }
}

.related-blogs {
    @include flex(column, 20px);
    padding: 20px;
    margin-top: calc(100px - 40px);

    h4 {
        @include f24;
    }

    > a {
        @include btn;
        display: block;
        width: fit-content;
        margin-left: auto;
    }

    .carousel-blog {
        @include flex(row, 20px);
        margin: 0px -20px;
        padding: 0px 20px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        a {
            flex-basis: 300px;
            flex-shrink: 0;
            height: 150px
        }

        h3 {
            @include f16;
        }
    }
}