// Colors
$dark-purple: #35174D; 
$purple: #6F36BB;
$pink: #FF4878;
$lila: #F3EFFE;
$white: white;
$black: black;

// Own variables
$font-stack: "Ubuntu", sans-serif;
$simple-shadow: 0px 3px 6px rgba($dark-purple, 0.16);

// Fonts
@mixin f14 {
    font-size: 14px;
    line-height: 23px;
}

@mixin f16 {
    font-size: 16px;
    line-height: 25px;
}

@mixin f18 {
    font-size: 18px;
    line-height: 28px;
}

@mixin f20 {
    font-size: 20px;
    line-height: 33px;
}

@mixin f22 {
    font-size: 22px;
    line-height: 36px;
}

@mixin f24 {
    font-size: 24px;
    line-height: 40px;
}

@mixin f26 {
    font-size: 26px;
    line-height: 31px;
}

@mixin f42 {
    font-size: 42px;
    line-height: 50px;
}

@mixin f50 {
    font-size: 50px;
    line-height: 60px;
}

@mixin f67 {
    font-size: 67px;
    line-height: 70px;
}

// Functies
@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin gridClmn($clmn, $gap) {
    display: grid;
    grid-template-columns: $clmn;
    gap: $gap;
}

@mixin img100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin container500 {
    max-width: 500px;
    margin: auto;
}

@mixin container1000 {
    max-width: 1000px;
    margin: auto;
}